<html>
    <head>
        <title>Create a Title</title>
    </head>
    <body>
        <h1>Enter your title</h1>
        <form action='/titles' method="get">
            <label for='format'>Title:</label>
            <input id='format' name='format' type='text'>

            <button type='submit'>Submit</button>
        </form>

    </body>
</html>
